torch
torchvision
torchmetrics
torchinfo
pytorch_lightning
numpy
matplotlib
scikit-learn
scikit-image
wandb
transformers
accelerate
datasets
diffusers
ankh
pillow
opencv-python
biopython
glob2
scipy
natsort
numba
esm